<html>
   <head>
      <title>GeekTechStuff PDF Merge Tool</title>
   </head>
   <body>
      <p>Name your PDFs sequentially (e.g. 1.pdf, 2.pdf, 3.pdf) and then submit them. After a few moments a new PDF will open containing the PDFs merged as one!</p>
      <form action = "http://localhost:5000/pdfmerge" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" multiple/>
         <input type = "submit"/>
         <p>If you like this then check out more on <a href="https://www.geektechstuff.com">www.geektechstuff.com</a></p>
      </form>
   </body>
</html>